<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <h1>Welcome To home</h1>
    
     <br>
     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, dolor suscipit, ipsam voluptatem repellat modi ratione eaque ducimus nihil, illo iste magnam nulla labore architecto. Sed voluptatibus neque fugit totam.
     Voluptate expedita quasi mollitia rerum commodi nihil reiciendis ipsam, magni beatae explicabo incidunt ipsum, necessitatibus, deserunt ad repellat labore tenetur iure quae quas quaerat nisi! Tempore obcaecati a praesentium quis!</p>
     <button>click me</button>
</body>
</html>